<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Date</th>
    <th>Price</th>
    </thead>
    <tr>
        <td th:text="${event.id}">Id</td>
        <td th:text="${event.title}">Title</td>
        <td th:text="${#dates.format(event.date, 'dd-MM-yyyy HH:mm')}">Date</td>
        <td th:text="${event.price}">Price</td>
    </tr>
</table>

<form th:action="@{'/event/{id}' (id = ${event.id})}" th:method="PUT">
    <input type="text" name="title" value="Original Title" placeholder="Title"/>
    <input type="date" name="date" value="2021-02-07"/>
    <input type="number" name="price" value="50" placeholder="Price"/>
    <input type="submit" value="Update current event"/>
</form>

<form th:action="@{'/event/{id}' (id = ${event.id})}" th:method="DELETE">
    <input type="submit" value="Delete current event"/>
</form>

<a href="/event/actions">back</a>
</body>
</html>