<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <tr>
        <th th:text="${user.id}">Id</th>
        <th th:text="${user.name}">Name</th>
        <th th:text="${user.email}">Email</th>
        <th th:text="${userAccount.money}">Money</th>
    </tr>
</table>

<form th:action="@{'/user/{id}' (id = ${user.id})}" th:method="PUT">
    <input name="name" type="text" required pattern="\w+" placeholder="Name"/>
    <input name="email" type="email" placeholder="Email"/>
    <input type="submit" value="Update current user"/>
</form>

<form th:action="@{'/user/refill/{id}' (id = ${user.id})}" th:method="PUT">
    <input name="amount" type="number" placeholder="Money amount"/>
    <input type="submit" value="Refill money"/>
</form>

<form th:action="@{'/user/{id}' (id = ${user.id})}" th:method="DELETE">
    <input type="submit" value="Delete current user"/>
</form>

<a href="/user/actions">back</a>
</body>
</html>