<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    </thead>
    <tr th:each="user: ${usersPage.content}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Email</td>
    </tr>
</table>

<a href="/">back</a>
</body>
</html>